@import "tailwindcss";

@theme {
    --color-bg-primary: #F9FAFB;
    --color-bg-secondary: #EEF1F5;


    --color-font-primary: #1E3A8A;
    --color-font-secondary: #374151;
    --color-font-muted: #6B7280;


    --color-btn-primary: #1E3A8A;
    --color-btn-hover: #3B82F6;
    --color-btn-secondary: #FFFFFF;
    --color-btn-secondary-hover: #F3F4F6;


    --color-border: #E5E7EB;


    --color-accent: #3B82F6;
}